{{#section "head"}}
<link rel="stylesheet" href="/public/css/comic.css">
{{/section}}
{{#section "scripts"}}
{{/section}}

<div>
    {{#each pages}}
        <img src="/{{this}}" width="256", height="256"></img>
    {{/each}} 
</div>
