{{#section "head"}}
<link rel="stylesheet" href="/public/css/home.css">
{{/section}}
{{#section "scripts"}}
{{/section}}

<div id="links">
    {{#each links}}
    <a href="{{this.link}}">
        <image src="{{this.image}}"></image>
        <div>{{this.name}}</div>
    </a>
    {{/each}}
</div>
